* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddefff!important;
}

.container1 {
  background: #fff;
  color: #636363;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 2.5rem 3rem;
  border: 1px solid #9fbfc6;
  border-radius: 15px;
  font: caption;
}


.container1 h1 {
  margin: 0;
  padding: 0 0 35px;
  text-align: center;
  font-size: 1.7rem;
}

.container1 input[type="text"], .container1 input[type="password"] {
  width: 100%;
  margin-bottom: 35px;
  border: none;
  border-bottom: 1px solid #636363;
  background: transparent;
  outline: none;
  height: 40px;
  color: #2e2e2e;
  font-size: 16px;
}

input::placeholder {
  color: rgb(200, 200, 200);
}

.boton_enviar {
  border: none;
  outline: none;
  height: 40px;
  background: #266874;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  width: 50%;
  display: block;
  margin: 1rem auto 2rem auto;
}

.boton_registrarse {
  text-align: center;
  border: none;
  height: 40px;
  background: none;
  color: #266874;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
  width: 50%;
  display: block;
  margin: 1.5rem auto 0 auto;
}

.container1 input[type="submit"]:hover {
  cursor: pointer;
  background: #185761;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1030px) {
  .container1 {
    width: 90%;
  }
}